*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}

/* ------------------NAVIGATION----------- */
#nav{
    width: 100%;
    height: 10%;
    /* background-color: aqua; */
    display: flex;
    position: relative;
}

/* LEFT NAVIGATION */
#nav-left{
    width: 18%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: 5%;
    margin-left: 3%;
}
#nav-left a{
    text-decoration: none;
}
#nav-left i{
    color: black;
    font-size: 1.7vw;
}
#nav-left img{
    width: 85%;
}

/* MID NAVIGATION */
#nav-mid{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 1%;
}
#nav-mid-search{
    width: 50%;
    height: 50%;
    /* background-color: red; */
    border: 1px solid #75777a;
    border-bottom-left-radius: 0.2vw;
    border-top-left-radius: 0.2vw;
}
#nav-mid-search i{
    font-size: 1.3vw;
    margin-left: 1.5%;
    color: rgb(143, 143, 143);
}
#nav-mid-search input{
    border: none;
    height: 100%;
    width: 90%;
    padding-left: 0.3vw;
}
#nav-mid-button button{
    padding: 0.5vw 1vw;
    border-left: none;
    border: 1px solid #75777a;
    font-weight: 600;
    font-size: 1vw;
    border-bottom-right-radius: 0.2vw;
    border-top-right-radius: 0.2vw;
}

/* RIGHT NAVIGATION */
#nav-right{
    width: 22%;
    height: 100%;
}
#nav-right-information{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 3%;
    white-space: nowrap;
    padding-left: 15%;
}
#nav-right a{
    text-decoration: none;
}
#nav-right h6{
    font-size: 1vw;
    font-weight: 500;
    color:#3073c7;
}

/*------------------- Main ------------------ */
#main{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}

/* LEFT MAIN */
#main-left{
    width: 15%;
    height: 75vh;
    margin-left: 3%;
    margin-top: 5vw;
    overflow-y: scroll;
    position: fixed;
    top: 12%;
    left: 0;
}
#main-left-content{
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-top: 1vw;
    margin-left: 2vw;
    margin-bottom: 2vw;
}
#main-left-content h5{
    font-weight: 700;
}
#main-left-content h6{
    font-weight: 500;
    font-size: 0.9vw;
    border: 1px solid rgb(199, 197, 197);
    padding: 0.2vw 0.5vw;
    border-radius: 2vw;
    background-color: rgb(199, 197, 197);
}
#main-left-content1{
    margin-left: 2vw;
}
#main-left-content1 a{
    text-decoration: none;
}
#main-left-content1 h5{
    margin-bottom: 0.8vw;
    font-size: 0.99vw;
    color: #3073c7;
    font-weight: 500;
}
#main-left-content2{
    display: flex;
    gap: 0.8vw;
}
#main-left-content2 a{
    text-decoration: none;
}
#main-left-content2 h5{
    margin-bottom: 0.8vw;
    font-size: 0.99vw;
    color: #3073c7;
    font-weight: 500;
}
#main-left-content2 i{
    color: black;
}

/* MID MAIN */
#main-mid{
    width: 65%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0vw 1.5vw;
    position: relative;
    top: 6%;
    left: 18%;
}
/* -----TITLE */
#main-mid-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #75777a;
    /* margin-top: 2.5vw; */
}
#main-mid-title1 h1{
    font-family: 'Linux Libertine','Georgia','Times','Source Serif 4',serif;
    line-height: 1.375;
    font-weight: 500;
}
#main-mid-title2 a{
    display: flex;
    align-items: center;
    gap: 1%;
    text-decoration: none;
}
#main-mid-title2 img{
    width: 2.5vw;
}
#main-mid-title2 h5{
    white-space: nowrap;
    color: #3366cc;
    font-weight: 900;
}
#main-mid-title2 i{
    color: #3366cc;
}

/* ------MENU */
#main-mid-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #a8a9ac;
    margin-top: 0.8vw;
    transition: all 1s ease-in-out;
}
#main-mid-menu1{
    margin-bottom: 1vw;
}
#main-mid-menu1 ul{
    display: flex;
    gap: 1vw;
    list-style-type: none;
}
#main-mid-menu1 a{
    text-decoration: none;
}
#main-mid-menu1 span{
    font-size: 1vw;
    color: #3366cc;
    padding: 13px 0px;
}
#main-mid-menu1 span:hover{
    color: #3073c7;
    border-bottom: 1px solid #3073c7;
}
#main-mid-menu2{
    margin-bottom: 1vw;
}
#main-mid-menu2 ul{
    display: flex;
    gap: 1vw;
    list-style-type: none;
}
#main-mid-menu2 a{
    text-decoration: none;
}
#main-mid-menu2 span{
    font-size: 1vw;
    color: #3366cc;
    padding: 13px 0px;
}
#main-mid-menu2 span:hover{
    color: #3073c7;
    border-bottom: 1px solid #3073c7;
}
/* ----LOCK */
#main-mid-lock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vw;
    margin-top: 0.2vw;
}
#main-mid-lock1 h5{
    font-weight: 500;
    font-size: 1vw;
}
#main-mid-lock2 img{
    width: 2vw;
}

/* ----INFORMATION */
#main-mid-information{
    margin-top: 0.6vw;
}
#main-mid-information p{
    padding-left: 2vw;
}
#main-mid-information a{
    color: #3366cc;
    text-decoration: none;
}

/* ----INFORMATION 1 */
#main-mid-information1{
    background-color: #dff2eb;
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#main-mid-information1-left{
    padding-left: 2vw;
    padding-top: 1.5vw;
    line-height: 3vw;
    display: flex;
    flex-direction: column;
}
#main-mid-information1-left h1{
    color: #14866d;
    font-size: 2.7vw;
}
#main-mid-information1-left h2{
    color: #202122;
    font-size: 1.5vw;
    font-weight: 500;
    margin-bottom: 1vw;
}
#main-mid-information1-right{
    margin-right: 3vw;
    border: 1px solid #3073c7;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main-mid-information1-right-top{
    padding: 0.5vw 0.1vw;
    border-bottom: 1px solid #75777a;
    margin: 0px 12px;
}
#main-mid-information1-right-top a{
    text-decoration: none;
}
#main-mid-information1-right-top p{
    font-size: 1.1vw;
    color: #3073c7;
}
#main-mid-information1-right-bottom{
    padding: 0.5vw 0.1vw;

}
#main-mid-information1-right-bottom a{
    text-decoration: none;
}
#main-mid-information1-right-bottom p{
    font-size: 1.1vw;
    text-align: center;
    font-weight: 700;
    color: #3073c7;
}

/* INFORMATION 2 */
#main-mid-information2{
    display: flex;
    width: 80%;
    border: 1px solid #a8a9ac;
    margin-top: 0.5vw;
    margin-left: 5vw;
}
#main-mid-information2-left{
    display: flex;
    align-items: center;
    padding-right: 2vw;
    padding-left: 1vw;
}
#main-mid-information2-left img{
    width: 2.5vw;
}
#main-mid-information2-right{
    line-height: 2vw;
    width: 80%;
}
#main-mid-information2-right p{
    font-weight: 700;
}
#main-mid-information2-right a{
    text-decoration: none;
    color: #3073c7;
}
 
/* INFORMATION 3 */
#main-mid-information3{
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    margin-top: 1vw;
}
#main-mid-information3-left{
    width: 80%;
    line-height: 2vw;
    margin-right: 1vw;
}
#main-mid-information3-left ul{
    margin-left: 2vw;
    margin-top: 1vw;
}
#main-mid-information3-right{
    border: 1px solid #a8a9ac;
    width: 20%;
    display: flex;
    flex-direction: column;
}
#main-mid-information3-right-top{
    border: 1px solid #008560;
    background-color: #008560;
    color: white;
    padding: 0.5vw 1vw;
    margin: 0.3vw 1vw;
    text-align: center;
}
#paragraph1{
    margin-bottom: 1.5vw;
}
#paragraph2{
    margin-bottom: 1.5vw;
}
#main-mid-information3-left p{
    font-size: 1.25vw;
    color: #202122;

}
#main-mid-information3-left ul li{
    font-size: 1.25vw;
}
#main-mid-information3-left a{
    text-decoration: none;
    color: #3073c7;
}
#main-mid-information3-right-top h4{
    font-size: 1.2vw;
}
#main-mid-information3-right-bottom{
    margin: 0vw 1vw;
    line-height: 2vw;
}
#main-mid-information3-right-bottom p{
    color: #202122;
}
#main-mid-information3-right-bottom a{
    text-decoration: none;
    color: #3073c7;
}

/* INFORMATION 4 */
#main-mid-information4{
    width: 100%;
    display: flex;
}
#main-mid-information4-left{
    width: 80%;
}
#main-mid-information4-left ul{
    margin-left: 2vw;
    margin-top: 0.5vw;
}
#main-mid-information4-left ul li:nth-child(2){
    margin-top: 0.5vw;
}
#main-mid-information4-left #info4-paragraph2-top{
    margin-top: 1.2vw;
    margin-bottom: 1vw;
    border-bottom: 1px solid #75777a;
}
#main-mid-information4-left #info4-paragraph2-top h2{
    font-weight: 500;
    font-family: serif;
    font-size: 1.9vw;
}
#main-mid-information4-left #info4-paragraph2-bottom{
    text-align: center;
}
#main-mid-information4-left #info4-paragraph2-bottom a{
    text-decoration: none;
    color: #3073c7;
}
#main-mid-information4-left #info4-paragraph2-bottom p{
    color: #202122;
    line-height: 2vw;
}
#main-mid-information4-left #info4-paragraph3{
    margin-top: 1vw;
    line-height: 2vw;
}
#info4-paragraph3 p{
    font-size: 1.25vw;
    color: #202122;
}
#info4-paragraph3 p a{
    text-decoration: none;
    color: #3073c7;
}
#info4-paragraph4 p a{
    text-decoration: none;
    color: #3073c7;
}
#main-mid-information4-left #info4-paragraph4{
    margin-top: 1vw;
    line-height: 2vw;
}
#info4-paragraph4 p{
    font-size: 1.25vw;
    color: #202122;
    margin-bottom: 2vw;
}
#info4-paragraph6 p a{
    text-decoration: none;
    color: #3073c7;
}
#main-mid-information4-left #info4-paragraph5{
    border-bottom: 1px solid #75777a;
    height: 6%;
}
#main-mid-information4-left #info4-paragraph5 h2{
    font-family: serif;
    font-size: 1.9vw;
    font-weight: 500;
}
#info4-paragraph6{
    margin-top: 2vw;
}
#info4-paragraph6 h2{
    font-size: 1.5vw;
    margin-bottom: 1vw;
}
#info4-paragraph6 p{
    margin-left: 2.5vw;
    line-height: 2vw;
}
#main-mid-information4-right{
    width: 29%;
    border: 1px solid #a8a9ac;
    margin-top: 1.5vw;
    margin-left: 1vw;
}
#part1-title{
    text-align: center;
    background-color: #cee0f2;
    line-height: 2vw;
    padding-top: 0.5vw;
    margin-bottom: 0.5vw;
}
#part1-title h4{
    font-size: 1.1vw;
}
#part1-information{
    margin: 0vw 0.2vw;
    line-height: 1.7vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5vw;
}
#part1-information h4{
    font-size: 1.1vw;
}
#part1-information a{
    text-decoration: none;
    color: #3073c7;
    font-size: 1.1vw;
}
#part2-title{
    text-align: center;
    background-color: #cee0f2;
    padding: 0.2vw 0vw;
    margin-bottom: 0.5vw;
}
#part2-title h4{
    font-size: 1vw;
}
#part2-information{
    margin: 0vw 0.2vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5vw;
    line-height: 1.7vw;
}
#part2-information a{
    text-decoration: none;
    color: #3073c7;
    font-size: 1.1vw;
}
#part3-title{
    text-align: center;
    background-color: #cee0f2;
    padding: 0.2vw 0vw;
    margin-bottom: 0.5vw;
}
#part3-title h4{
    font-size: 1vw;
}
#part3-information{
    margin: 0vw 0.2vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5vw;
    line-height: 1.7vw;
}
#part3-information a{
    text-decoration: none;
    color: #3073c7;
    font-size: 1.1vw;
}
#part4-title{
    text-align: center;
    background-color: #cee0f2;
    padding: 0.2vw 0vw;
    margin-bottom: 0.5vw;
}
#part4-title h4{
    font-size: 1vw;
}
#part4-information{
    margin: 0vw 0.2vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5vw;
    line-height: 1.7vw;
}
#part4-information a{
    text-decoration: none;
    color: #3073c7;
    font-size: 1.1vw;
}
#part5-title{
    text-align: center;
    background-color: #cee0f2;
    padding: 0.2vw 0vw;
    margin-bottom: 0.5vw;
}
#part5-title h4{
    font-size: 1vw;
}
#part5-information{
    margin: 0vw 0.2vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5vw;
    line-height: 1.7vw;
}
#part5-information a{
    text-decoration: none;
    color: #3073c7;
    font-size: 1.1vw;
}
#part6-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.4vw;
    margin: 0.5vw 0.5vw;
}
#part6-footer a{
    text-decoration: none;
    font-size: 0.9vw;
    color: #3073c7;
}
#part6-footer i{
    font-size: 0.2vw;
}
/* MAIN RIGHT */
#main-right{
    width: 15%;
    height: 78vh;
    margin-right: 1%;
    margin-top: 5vw;
    position: fixed;
    top: 11%;
    left: 85%;
}
#main-right-content{
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-top: 1vw;
    margin-left: 1vw;
    margin-bottom: 2vw;
}
#main-right-content h5{
    font-weight: 700;
}
#main-right-content h6{
    font-weight: 500;
    font-size: 0.9vw;
    border: 1px solid rgb(199, 197, 197);
    padding: 0.2vw 0.5vw;
    border-radius: 2vw;
    background-color: rgb(199, 197, 197);
}
#main-right-content1{
    margin-left: 1vw;
    margin-bottom: 1.5vw;
    margin-top: 1.5vw;
}
#main-right-content1 h5{
    margin-bottom: 0.8vw;
    font-size: 0.99vw;
    color: #75777a;
    font-weight: 500;
}
#main-right-content2{
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
}
#main-right-content2 .input{
    margin-bottom: 1vw;
}
#main-right-content2 input{
    transform: scale(1.3);
}
#main-right-content2 label{
    font-size: 1vw;
}